.productContainer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    border: unset;
}

.productContainerOutlay {
    background-color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.productContainerText {
    margin: 5px;
}